html {
  background-color: var(--custom-white);
  font-family: "Inter", sans-serif;
}

:root{

--custom-black: rgba(10, 10, 10, 1);
--custom-dark-brown: rgba(31, 23, 6, 1);
--custom-brown: rgba(83, 57, 42, 1);
--custom-tan: rgba(172, 132, 90, 1);
--custom-light-brown: rgba(88, 80, 71, 1);
--custom-green: rgba(69, 107, 90, 1);
--custom-white: rgba(225, 226, 226, 1);

--custom-black-st: rgba(10, 10, 10, 0.7);
--custom-dark-brown-st: rgba(31, 23, 6, 0.7);
--custom-brown-st: rgba(83, 57, 42, 0.7);
--custom-tan-st: rgba(172, 132, 90, 0.7);
--custom-light-brown-st: rgba(88, 80, 71, 0.7);
--custom-green-st: rgba(69, 107, 90, 0.7);
--custom-white-st: rgba(225, 226, 226, 0.7);

--custom-black-t: rgba(10, 10, 10, 0.4);
--custom-dark-brown-t: rgba(31, 23, 6, 0.4);
--custom-brown-t: rgba(83, 57, 42, 0.4);
--custom-tan-t: rgba(172, 132, 90, 0.4);
--custom-light-brown-t: rgba(88, 80, 71, 0.4);
--custom-green-t: rgba(69, 107, 90, 0.4);
--custom-white-t: rgba(225, 226, 226, 0.4);

--custom-black-0: rgba(10, 10, 10, 0);
--custom-dark-brown-0: rgba(31, 23, 6, 0);
--custom-brown-0: rgba(83, 57, 42, 0);
--custom-tan-0: rgba(172, 132, 90, 0);
--custom-light-brown-0: rgba(88, 80, 71, 0);
--custom-green-0: rgba(69, 107, 90, 0);
--custom-white-0: rgba(225, 226, 226, 0);

--minorBlur: blur(3px);
--standardBlur: blur(6px);
--BIGBlur: blur(9px);

}

body {
  margin: 0 0;
  width: 100%;
}

.content {

  line-height: 1.5;
  color: var(--custom-dark-brown)

}

nav {

  display: flex;
  justify-content: end;

}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.menu {

  background-color: var(--custom-dark-brown);
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;

}

.nav-links {

  width: 100%;
  display: none;
  margin: 0;

}

.nav-links a {

  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--custom-dark-brown);

}

.nav-links a:hover,
.nav-links a:focus {

  background-color: var(--custom-green);
  
}

/* :has(.menu[aria-expanded="true"]) .nav-links {
  
  display: unset;

} */

@media screen and (min-width: 636px) {

  .nav-links {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    position: static;
    width: auto;
    background: none;

  }

  .nav-links a {

    display: inline-block;
    padding: 15px 20px;

  }

  .menu {

    display: none;

  }

  .other-links {

    width: auto;

  }

}