html {
  background-color: var(--custom-white);
  font-family: "Inter", sans-serif;
}

:root{

  --custom-black: rgba(10, 10, 10, 1);
  --custom-dark-purple: rgba(46, 15, 56, 1);
  --custom-purple: rgba(131, 81, 168, 1);
  --custom-bright-purple: rgba(180, 93, 187, 1);
  --custom-light-blue: rgba(77, 123, 147, 1);
  --custom-blue: rgba(43, 82, 164, 1);
  --custom-dark-blue: rgba(26, 44, 84, 1);
  --custom-white: rgba(226, 226, 226, 1);

  --custom-black-st: rgba(10, 10, 10, 0.7);
  --custom-dark-purple-st: rgba(46, 15, 56, 0.7);
  --custom-purple-st: rgba(131, 81, 168, 0.7);
  --custom-bright-purple-st: rgba(180, 93, 187, 0.7);
  --custom-light-blue-st: rgba(77, 123, 147, 0.7);
  --custom-blue-st: rgba(43, 82, 164, 0.7);
  --custom-dark-blue-st: rgba(26, 44, 84, 0.7);
  --custom-white-st: rgba(226, 226, 226, 0.7);

  --custom-black-t: rgba(10, 10, 10, 0.4);
  --custom-dark-purple-t: rgba(46, 15, 56, 0.4);
  --custom-purple-t: rgba(131, 81, 168, 0.4);
  --custom-bright-purple-t: rgba(180, 93, 187, 0.4);
  --custom-light-blue-t: rgba(77, 123, 147, 0.4);
  --custom-blue-t: rgba(43, 82, 164, 0.4);
  --custom-dark-blue-t: rgba(26, 44, 84, 0.4);
  --custom-white-t: rgba(226, 226, 226, 0.4);

  --custom-black-0: rgba(10, 10, 10, 0);
  --custom-dark-purple-0: rgba(46, 15, 56, 0);
  --custom-purple-0: rgba(131, 81, 168, 0);
  --custom-bright-purple-0: rgba(180, 93, 187, 0);
  --custom-light-blue-0: rgba(77, 123, 147, 0);
  --custom-blue-0: rgba(43, 82, 164, 0.1);
  --custom-dark-blue-0: rgba(26, 44, 84, 0);
  --custom-white-0: rgba(226, 226, 226, 0);

  --minor-blur: blur(3px);
  --standard-blur: blur(6px);
  --BIG-blur: blur(9px);

  --standard-transition-timing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --standard-transition-timing-no-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.0);

  --nav-color: rgba(226, 226, 226, 1);
  --nav-bg-color: rgba(226, 226, 226, 0.4);

  --footer-color: rgba(43, 82, 164, 1);
  --footer-accent: rgba(43, 82, 164, 1);
  --footer-accent-hover: rgba(226, 226, 226, 1);

  --mouse-x: 0px;
  --mouse-y: 0px;

}

body {
  margin: 0 0;
  width: 100%;
}

.content {

  line-height: 1.5;
  color: var(--custom-dark-brown);
  transition-duration: 0.4s;

}

nav {

  display: flex;
  justify-content: end;

}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Oi", serif;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
}

/* nav styles */

.menu {

  background-color: var(--custom-dark-brown);
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;

}

.nav-links {

  display: flex;
  flex-direction: row;
  
  position: static;
  background: none;

}

.nav-title {

  display: flex;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

  padding: 15px 20px;
  justify-content: center;
  align-items: center;

  span {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--nav-color);

  }

  span::after {

    content: "";
    position: absolute;

    height: 2px;
    width: 110%;
    background-color: var(--nav-color);
    bottom: -5px;
    left: -5%;
    transform: scaleX(0);
    border-radius: 2px;
    transform-origin: center;
    text-align: center;

    transition: 0.5s var(--standard-transition-timing);

  }

  [data-icon] {

    transition: 0.5s var(--standard-transition-timing);
    transform-origin: center;
    margin-left: 5px;
    color: var(--nav-color);

  }

  

}

.nav-component:hover {

  span::after {

    transform: scaleX(1);

  }

  svg {

    transform: rotate(180deg);

  }

}


.menu {

  display: none;

}

.other-links {

  width: auto;
  display: flex;

}

.std-content-box{

  padding: 4em 2em 0em 2em;

}

.pdf-viewer {
  position: relative;
  overflow: hidden;
  transition: 0.4s var(--standard-transition-timing-no-bounce);
  overflow-wrap: break-word;
  height: fit-content;

}

/* .pdf-viewer > .download {

  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  bottom: 10px;
  left: calc(50% - 10px);

} */

.pdf-viewer canvas {
  border-radius: 1em;
}

.pdf-viewer span {

  display: flex;
  word-break: break-all;

  justify-content: center;
  align-items: center;

  font-size: 1.5em;

  position: absolute;
  color: var(--custom-white);
  background-color: var(--custom-black-st);

  padding: 20px;

  width: 100%;
  height: 100%;
  inset: 0;

  filter: blur(10px);

  opacity: 0;
  z-index: 2;

  transition: 0.4s;

}

.pdf-viewer:hover {

  span {

    opacity: 1;
    filter: none;

  }

}

.large-image-cont {

  position: absolute;

  z-index: 3;

}

/* .large-image-cont::after {

  content: 'loading...';
  position: fixed;
  top: 50vh;
  left: 50vw;
  color: white;

} */

.large-image {

  transition-timing-function: var(--standard-transition-timing);

  transform-origin: center;

  object-fit: cover;

}

@keyframes move-large-image {

  0% {



  }

}

/*
Source - https://stackoverflow.com/a/4407335
Posted by Blowsie, modified by community. See post 'Timeline' for change history
Retrieved 2026-06-05, License - CC BY-SA 4.0
*/
.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;                         
}