---

---

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About Me</h1>

        <h2>I'm a dude tbh</h2>

        <p>This is part of a tutorial btw. But if you want to know more about me call 248-434-5508</p>
	</body>
</html>
