---
interface Props {

    url: string;
    frontmatter: any;

}

const { url, frontmatter } = Astro.props;

console.log(frontmatter)

const imageURL = frontmatter?.image?.url?? "https://docs.astro.build/assets/rose.webp";

import "../styles/global.css";

---

<li class="blog-post-card">
    <a href={url} class="blog-post-card-link">

        <div class="card" style={`--bg-image: url(${imageURL})`}>
            <span class="title">{frontmatter.title}</span>
            <span class="desc">{frontmatter.description}</span>
        </div>

    </a>
</li>

<style>

    .blog-post-card {

        padding: 1.5rem 0;
        /* max-height: 15%; */

    }

    .blog-post-card-link {

        text-decoration: none;
        position: relative;

    }

    .title {

        font-size: 2em;
        font-weight: bold;
        color: var(--custom-white);
        transition: 0.5s var(--standard-transition-timing-no-bounce);
        transform-origin: left;

    }

    .desc {

        font-size: 1em;
        font-weight: normal;
        color: var(--custom-white);
        transition: 0.5s var(--standard-transition-timing-no-bounce);
        transform-origin: left;

    }

    .card {

        background-color: var(--custom-black-st);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        border-radius: 2em;
        overflow: hidden;
        position: relative;
        background-size: cover;

        z-index: -1;

    }

    .card:hover{

        .title, .desc {

            scale: 1.25;

        }

    }

    .card::after {

        content: '';
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        right: 0;
        background-image: var(--bg-image);
        background-size: 150%;
        background-position: center;
        mask: linear-gradient(to left, white 60%, transparent);

        z-index: -1;

    }


</style>

