---
import "../styles/global.css"
import DropdownComponent from "./DropdownComponent.astro";
import Seperator from "./Seperator.astro";
---

<div class="dropdown" data-open="false">
    <ul>

        <DropdownComponent href="/" title="Item 1"/>
        <Seperator height="2px" width="5em" color="var(--nav-color)" horizontal="true" isli="true"/>
        <DropdownComponent href="/" title="Item 2"/>
        <Seperator height="2px" width="5em" color="var(--nav-color)" horizontal="true" isli="true"/>
        <DropdownComponent href="/" title="Item 3"/>

    </ul>
</div>

<style>

    .dropdown {

        backface-visibility: hidden;

        width: 100%;
        height: auto;
        background-color: var(--custom-black-t);
        backdrop-filter: var(--BIG-blur);
        box-shadow: 0px 0px 10px var(--custom-black-t);
        position: absolute;
        top: 100%;
        border-radius: 0.5em;
        padding: 1em 0;
        z-index: 3;
        transition: 0.5s var(--standard-transition-timing-no-bounce);
        transform-origin: top;

        ul .seperator {

            opacity: 0.25;

        }

        ul li {

            transition: 0.25s var(--standard-transition-timing-no-bounce);
            animation-delay: 0.2s;

        }

    }

    [data-open="false"] {

        display: flex;
        pointer-events: none;
        transform: translateY(-1em);
        opacity: 0;
        filter: var(--BIG-blur);

        ul li {

            scale: 1.2;

        }

    }

    [data-open="true"] {

        display: flex;
        pointer-events: all;
        transform: translateY(0);
        opacity: 1;
        filter: none;

        ul li {

            scale: 1;

        }

    }

    ul {

        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1em;


    }

</style>