---
import "../styles/global.css"
import DropdownComponent from "./DropdownComponent.astro";
---

<div class="dropdown" data-open="false">
    <ul>

        <DropdownComponent href="/" title="Item 1"/>
        <DropdownComponent href="/" title="Item 2"/>
        <DropdownComponent href="/" title="Item 3"/>

    </ul>
</div>

<style>

    .dropdown {

        width: 100%;
        height: auto;
        background-color: var(--custom-dark-brown-t);
        backdrop-filter: var(--BIG-blur);
        position: absolute;
        top: 100%;

    }

    [data-open="false"] {

            display: flex;

    }

    [data-open="true"] {

            display: flex;

    }

    ul {

        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: left;
        width: 100%;

    }

</style>