---
interface Props {

    height: string;
    bgImg?: any;
    className?: string;

}

const { height, bgImg, className } = Astro.props;

let styleString;
let classString;

console.log(bgImg);

if (bgImg) { styleString = `background-image: url(${bgImg.src});`; }
else { styleString = `background-color: var(--custom-black);` }

if (className) { classString = `section ${className}` }
else {classString = `section`}

---

<div class=`${classString}` style=`${styleString}`>

    <slot/>

</div>

<style define:vars={{ height }}>

    .section {

        width: 100vw;
        height: var(--height);


        background-size: cover;

    }

    .center-items {
        
        display: flex;
		align-items: center;
		justify-content: center;

    }

</style>
