---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import "../styles/global.css";
---

<header>
    <nav>
        <Menu />
        <Navigation />
    </nav>
</header>

<style>

    div {

        background-color: var(--custom-brown);

    }

</style>
