---
interface Props {

    href?: string;
    title: string;
    isDropdown?: string;

}

const { href, title, isDropdown = "false" } = Astro.props;
import { Icon } from "astro-icon/components";
import Dropdown from "./Dropdown.astro";
---
<div class="nav-component">

    <a href={href} data-is-dropdown={isDropdown} data-title={title} class="nav-title">

        <span class="nav-link-title">

            {title}

        </span>

        { (isDropdown === "true") && <Icon name="Dropdown_Arrow" class="arrow"/> }
    </a>

    { (isDropdown === "true") && <Dropdown/> }

</div>

<style>

    .nav-component {

        position: relative;
        width: auto;
        height: auto;

    }

    .arrow {

        height: 0.375em;
        width: auto;

    }

    [data-is-dropdown="true"] {

        span::after {

            display: none;

        }

        .nav-link-title {

            cursor: default;

        }

    }

</style>
