---
import "../styles/global.css";
import NavComponent from "./NavComponent.astro";
---

<div id="main-menu" class="nav-links">
    <div class="home-link">

        <NavComponent href="/" title="Home"/>
        
    </div>

    <div class="other-links">

        <NavComponent href="/about" title="About"/>
        <NavComponent href="/skills" title="Skills" isDropdown="true"/>
        <NavComponent href="/projects" title="Projects"/>
        <NavComponent href="/blog" title="Blog"/>

    </div>

</div>

<style>

    .nav-links {

        width: 100vw;
        justify-content: space-between;
        max-height: 10vw;

    }

    a {

        color: var(--custom-white);

    }

</style>