---
import "../styles/global.css";
---

<div id="main-menu" class="nav-links">
    <div class="home-link">

        <a href="/"><span>Home</span></a>
        
    </div>

    <div class="other-links">

        <a href="/about"><span>About</span></a>
        <a href="/projects"><span>Projects</span></a>
        <a href="/blog"><span>Blog</span></a>

    </div>

</div>

<style>

    .nav-links {

        width: 100vw;
        justify-content: space-between;
        max-height: 10vw;

    }

    a {

        color: var(--custom-white);

    }

</style>