---
const { platform, username, color, hoverColor } = Astro.props;
---

<a href={`https://www.${platform.toLowerCase()}.com/${username}`}>{platform}</a>

<style define:vars={{color, hoverColor}}>
    a {

        padding: 0.5rem 1rem;
        color: var(--color);
        text-decoration: none;

        transition-duration: 0.2s;

    }

    a:hover {

        color: var(--hoverColor);

    }
</style>