---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
	
	<div class="std-content-box" id="project-content-box">

		<h1>Projects</h1>

	</div>
	
</BaseLayout>