---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
	
	<div class="projects-content-box">

		<h1>Projects</h1>

	</div>
	
</BaseLayout>

<style is:global>

	.projects-content-box {

		padding: 4em 2em 0em 2em;

	}

</style>