---
import BaseLayout from '../../layouts/BaseLayout.astro';
import "../../styles/global.css"

const pageTitle = "Graphic Design";
---

<BaseLayout pageTitle={pageTitle}>
	
	<div class="graphic-design-content-box">

		<h2>Skills</h2>

	</div>
	
</BaseLayout>

<style is:global>

	.graphic-design-content-box {

		padding: 4em 2em 0em 2em;

	}

</style>