---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Skills";
---

<BaseLayout pageTitle={pageTitle}>
	
	<div class="skills-content-box">

		<h2>Skills</h2>

	</div>
	
</BaseLayout>

<style is:global>

	.skills-content-box {

		padding: 5% 5% 0 5%;

	}

</style>